.Home {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 100px;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.container div {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.Header {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  font: bolder;
}
.Content {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.Footer {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
}
